# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.django/

# Django
staticfiles/
media/
*.log

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional — if you want to track them, remove this)
# */migrations/*.py
# !*/migrations/__init__.py
